:root {
  --color-1: #252B42;
  --color-2: #FFFFFF;
  --color-3: #737373;
  --color-4: #BDBDBD;
  --color-5: #2DC071;
  --color-6: #23A6F0;
  --color-7: #E77C40;
  --color-8: #23856D;
  --color-9: #FAFAFA;
  --color-10: #8EC2F2;
  --color-11: #E74040;
  --color-12 : #E6E6E6;
  --color-13 : #F9F9F9;
  --ff-primary: "Montserrat", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400;
  --fw-bold: 700;
}